/.env
/.env.*
!/.env.example
/.docker-secrets/
/.git/
/.venv/
/venv/
*.sqlite
*.sqlite3
*.db
coverage.xml
htmlcov/
.idea/
.vscode/
local-validation/
**/test*.py
**/__pycache__/
*.py[cod]
*.log
.coverage
.pytest_cache/
Dockerfile
.dockerignore
